.dictation-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #222;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 85px;
  margin-right: 85px;
  min-height: calc(100vh - 10px); /* Ensures it stretches to the bottom */
  box-sizing: border-box; /* Ensures padding/margin doesn't break layout */
}

.dictation-header{
  background-color: #222;
  padding: 20px;
  color: rgba(255, 255, 255, 0.87);
  margin-left: 85px;
  margin-right: 85px;
}
.dictation-box {
  flex: 1;
  min-width: 800px; /* Adjust this value based on your minimum desired width */
  margin: 30px; /* Add some spacing between items */
}

.dictation-box button {
  padding: 10px;
  margin: 5px;
}

.dictation-audio {
  flex: 1;
  max-width: 600px; /* Adjust this value based on your minimum desired width */
  margin: 10px; /* Add some spacing between items */
}